@{
    ViewBag.Title = "Home";
}

<div class="container">
    <div class="jumbotron text-center">
        <h1>Casa del Mare Resort</h1>
        <p>Benvenuti al nostro hotel !</p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/447755465.jpg?k=aabd9c713fdfb1471a4e571dcdde3618d9b3fbea809499cfc1971b3976803936&o=&hp=1" alt="Immagine 1" class="img-fluid">
        </div>
        <div class="col-md-4">
            <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/447755413.jpg?k=4ce0572170932b8fe9db71a2c1f14e74be81d0fa71fe5a603c03b0494c9b2ae4&o=&hp=1" alt="Immagine 2" class="img-fluid">
        </div>
        <div class="col-md-4">
            <img src="https://x.cdrst.com/foto/hotel-sf/1654e/granderesp/sentido-casa-del-mar-resort-entorno-11701bfe.jpg" alt="Immagine 3" class="img-fluid">
        </div>
    </div>
</div>
